# Editionsdaten semantisch anreichern¬†‚Äì XML-Parsing und Named Entity Recognition (NER) mit Python

Dieses Notebook ist im Rahmen der Fortbildungsreihe "Vom Dokument zur Edition" und konkret des Workshops [Editionsdaten semantisch anreichern¬†‚Äì XML-Parsing und Named Entity Recognition (NER) mit Python](https://www.it.fu-berlin.de/unsere-services/kompetenzentwicklung/fortbildungen/workshops/E-Research/2026-01-27-Editionsdaten-WS4.html) im WiSe 2025/26 an der FU Berlin entstanden. Das Notebook soll als erster Einstieg dienen und erkl√§ren, wie XML-Dateien mit Python eingelesen sowie der enthaltene Text extrahiert, weiterverarbeitet und ins urspr√ºngliche XML zur√ºckgef√ºhrt werden kann.

Beitragende anhand der [Contributor Role Taxonomy (CRediT) taxonomy](https://doi.org/10.1002/leap.1210):
* Sophie Schneider ([@BibWiss](https://github.com/BibWiss)): Conceptualization, Software/Writing - Original Draft (Teil 1 & 2), Writing - Review & Editing (Teil 3)
* Catherine Anne Seveke ([@cati-gitling](https://github.com/cati-gitling)): Conceptualization, Software/Writing - Original Draft (Teil 3)

## Teil 1: XML einlesen und aufbereiten

### 1. Installation
Um dieses Notebook ausf√ºhren zu k√∂nnen, m√ºssen [Python](https://www.python.org/) und [Jupyter Notebook](https://jupyter.org/) installiert sein. In Vorbereitung auf die Veranstaltung wird den Teilnehmenden eine darauf zugeschittene Anleitung zur Installation von Anaconda zugeschickt. Mit Anaconda sind neben Python bereits Jupyter Notebook sowie diverse weitere Bibliotheken vorinstalliert. Da die Bibliothek spacy (welche wir ben√∂tigen) leider nicht in der Liste der vorinstallierten Bibliotheken enthalten ist, erstellen wir eine seperate Entwicklungsumgebung. 

Hierzu √∂ffnen wir ein Kommandozeilenfenster (*CMD.exe Prompt*) und geben die folgenden Befehle jeweils nacheinander ein:

* `conda create -n ner4xml python=3.11`
* `y`
* `conda activate ner4xml`
* `conda install jupyter spacy pandas nltk`
* `jupyter notebook`

Kurzzusammenfassung, was hier passiert ist: wir (1) erstellen mit dem Paketmanager `conda` eine neue Umgebung namens `ner4xml`, welche die Python-Version 3.11 nutzt, mit (2) `y` (`yes`) best√§tigen wir den Vorgang und sobald dies beendet ist (3) aktivieren wir die Umgebung, (4) installieren alle ben√∂tigten Bibliotheken und (5) rufen Jupyter Notebook auf. Dann m√ºssen wir noch zu unserem Notebook navigieren und k√∂nnen dieses √∂ffnen. Weitere Befehle, die sonst im Terminal eingegeben werden m√ºssten (z.B. zur Installation weiterer Bibliotheken), k√∂nnen wir nun auch im Notebook aufrufen, indem wir ein `!` voranstellen.

In [1]:
#ein typischer Befehl, um zu pr√ºfen ob und welche Version von Python installiert ist
!python --version

Python 3.9.23

Nun laden wir f√ºr sp√§ter noch ein Modell von spacy herunter (diesen Schritt m√ºssen wir nur einmal ausf√ºhren, dann k√∂nnen wir ihn z.B. mithilfe von `#` auskommentieren):

In [2]:
#!python -m spacy download en_core_web_sm

### 2. Import der Bibliotheken
W√§hrend die Bibliotheken grunds√§tzlich nur einmal installiert werden m√ºssen, m√ºssen wir sie jedes Mal vor der Verwendung importieren. Haben wir den Import vergessen, kommt z.B. eine Fehlermeldung wie `NameError: name '<name_bibliothek>' is not defined` üò°. Um das zu vermeiden, m√ºssen wir alle Python-Bibliotheken importieren - auch solche aus der Standardbibliothek (wie hier `xml.etree.ElementTree`), die wir gar nicht gesondert vorher installieren mussten. Das Importieren erledigen wir am besten immer direkt am Anfang eines Python-Skripts oder -Notebooks ‚úÖ

In [3]:
import xml.etree.ElementTree as ET
import pandas as pd
import spacy

### 3. Laden und Parsen der XML-Daten
Nun geht es ans Eingemachte ü´ô. Wir definieren eine Variable `path_to_file` und geben dort den relativen Pfad zur XML-Datei (kann abweichen und muss ggf. angepasst werden!) an. Mit `ET.parse()` wird die Datei geparsed (eingelesen) und mit `getroot()` sprechen wir den Wurzelknoten des XMLs an.

In [4]:
path_to_file = "data/input.xml"

tree = ET.parse(path_to_file)
root = tree.getroot()

Mit der `print()`-Funktion k√∂nnen wir eine Ausgabe erzeugen und uns hier beispielsweise das Element an der Wurzel anzeigen lassen. Wir sehen, dass vor dem Elementnamen noch eine Information √ºber den Namespace enthalten ist: `{http://www.tei-c.org/ns/1.0}`. Das verwundert vielleicht zun√§chst, da es im XML-Dokument nicht an dieser Position zu lesen war. Damit ET üëΩ wei√ü, dass wir uns auf diesen Namensraum beziehen, ohne dass wir nun jedes Mal diese Information voranstellen m√ºssen, um einen Knoten ansprechen zu k√∂nnen, definieren wir eine Variable `namespaces` auf die wir sp√§ter noch zugreifen werden.

In [5]:
print(root)
print(root.tag)

namespaces={"":"http://www.tei-c.org/ns/1.0"}

<Element '{http://www.tei-c.org/ns/1.0}TEI' at 0x7f8a382fd6d0>
{http://www.tei-c.org/ns/1.0}TEI

Nun sammeln wir alle Informationen, die wir gleich noch ben√∂tigen k√∂nnten, und legen daf√ºr drei Listen an: `xml_nodes` f√ºr die Knoten der Elemente, auf die wir uns sp√§ter beziehen und die wir ggf. auch aktualisieren wollen (alle, die in irgendeiner Weise Text enthalten), `xml_tags` f√ºr die Tag-Namen der gleichen Knoten und `xml_text` f√ºr den darin enthaltenen Text.

In [6]:
xml_nodes = []
xml_tags = []
xml_text = []

Jetzt starten wir unseren ersten Loop üí´ - gl√ºcklichweise bietet ET daf√ºr auch direkt die Funktion `iter()` an. Wir machen zun√§chst den ersten (einzigen) Textknoten ausfindig (siehe auch: https://docs.python.org/3/library/xml.etree.elementtree.html#supported-xpath-syntax), iterieren durch dessen (Kind-)Elemente und speichern den mit `strip()` am Anfang und Ende von Leerzeichen befreiten Text dieser Elemente jeweils als `descendant_text`. Dann checken wir nochmal mit einer `if`-Bedingung ob auch wirklich Text enthalten ist und wenn dem so ist, f√ºgen wir jeder der Listen je einen entsprechenden Eintrag hinzu. Am Ende checken wir nochmal ein paar Eintr√§ge und lassen uns die Gesamtl√§nge der ersten Liste (die anderen beiden m√ºssten genau gleich lang sein) ausgeben.

In [7]:
#find nodes
title_node = root.findall(".//title", namespaces)[0]
text_node = root.findall(".//text", namespaces)[0]

In [8]:
#add nodes / tags / texts to list
xml_nodes.append(title_node)
xml_tags.append(title_node.tag)
xml_text.append(title_node.text)

In [9]:
#add nodes and information iteratively
for descendant in text_node.iter(): #for the full document, including metadata, use root.iter()
      descendant_text = str(descendant.text).strip()
      if descendant_text != "" and descendant_text != "None":
            xml_nodes.append(descendant)
            xml_tags.append(descendant.tag)
            xml_text.append(descendant.text)

print([(node, tag, text) for (node, tag, text) in zip(xml_nodes[:3], xml_tags[:3], xml_text[:3])])
print(len(xml_nodes))

[(<Element '{http://www.tei-c.org/ns/1.0}title' at 0x7f8a382fd950>, '{http://www.tei-c.org/ns/1.0}title', 'H. P. Lovecraft: Astronomical Observations (NAME)'), (<Element '{http://www.tei-c.org/ns/1.0}expan' at 0x7f8a382309f0>, '{http://www.tei-c.org/ns/1.0}expan', 'Observed'), (<Element '{http://www.tei-c.org/ns/1.0}abbr' at 0x7f8a38230a90>, '{http://www.tei-c.org/ns/1.0}abbr', 'Obs‚Äôd')]
406

### 4. Daten mit pandas aufbereiten

Der Vorteil unserer Listen ist, dass wir sie jetzt mithilfe der `pandas` Bibliothek in einen Dataframe, also eine tabellarische Struktur, √ºberf√ºhren k√∂nnen. Das machen wir mit `pd.DataFrame`, hier k√∂nnen wir z.B. auch Namen f√ºr die Spalten (`columns`) mit angeben. Mit der `head()`-Funktion erhalten wir eine √úbersicht √ºber die ersten Eintr√§ge unseres Dataframes.

In [10]:
#import lists as cols to a pandas dataframe
xml_text_dataframe = pd.DataFrame(list(zip(xml_nodes, xml_tags, xml_text)), columns =["nodes", "tags", "text"])
xml_text_dataframe.head()

,nodes,tags,text
0,[],{http://www.tei-c.org/ns/1.0}title,H. P. Lovecraft: Astronomical Observations (NAME)
1,[],{http://www.tei-c.org/ns/1.0}expan,Observed
2,[],{http://www.tei-c.org/ns/1.0}abbr,Obs‚Äôd
3,[],{http://www.tei-c.org/ns/1.0}expan,Observed
4,[],{http://www.tei-c.org/ns/1.0}abbr,Obs‚Äôd

Seltsam - sind unsere `nodes` hier etwa verschwunden und nur noch leere Listen `[]` enthalten? Werfen wir nochmal einen genaueren Blick darauf und lassen uns den ersten Eintrag aus der Tabelle ausgeben:

In [11]:
print(xml_text_dataframe["nodes"][0])

<Element '{http://www.tei-c.org/ns/1.0}title' at 0x7f8a382fd950>

Puh, alles noch da! üòÖ When in doubt, use print: https://www.reddit.com/r/ProgrammerHumor/comments/ntro76/all_the_print_statements/

## Teil 2: Named Entity Recognition (NER) f√ºr XML

### 5. NER auf einem Text anwenden
Um Named Entity Recognition (NER), also ein Verfahren zur Erkennung benannter Entit√§ten wie z.B. Personen-, Orts- oder Organisationsnamen, auf den textuellen Daten anzuwenden, m√ºssen wir zun√§chst ein entsprechendes Modell laden. Wir haben bereits weiter oben das vortrainerte `en_core_web_sm` Modell von [SpaCy](https://spacy.io) installiert, jetzt laden wir dieses mit `spacy.load()`. Als Textbeispiel (`xml_text_example`) nehmen wir den Titel aus der ersten Zeile des DataFrames und wenden das Modell darauf an. Nun k√∂nnen wir uns beispielsweise f√ºr alle im Titel erkannten Entit√§ten deren Inhalt (`text`), Position (`start_char` = erstes Zeichen im Eingabetext, `end_char` = letztes Zeichen im Eingabetext) sowie das vergebene `label_` (z.B. `PER` f√ºr Person, `ORG` f√ºr Organisation) ausgeben lassen.

In [12]:
nlp = spacy.load("en_core_web_sm")

In [13]:
xml_text_example = xml_text_dataframe["text"][0]
print(xml_text_example)
doc = nlp(xml_text_example)

for ent in doc.ents:
    print(ent.text, ent.start_char, ent.end_char, ent.label_)

H. P. Lovecraft: Astronomical Observations (NAME)
H. P. Lovecraft 0 15 PERSON
NAME 44 48 ORG

Es wurden zwei Entit√§ten im entsprechenden Text gefunden! Bei NAME handelt es sich wohl um einen Fehler, aber `H. P. Lovecraft` als Person auszuzeichnen erscheint sinnvoll. Um den zugeh√∂rigen Knoten im eingelesenen XML zu aktualisieren, definieren wir zwei weitere Variablen: `xml_title_node` und `per_to_be_added`. `xml_title_node` ist der Titelknoten aus der 1. Zeile des DataFrames und `per_to_be_added` die korrekt erkannte Person, die wir nun neu einbinden wollen.

In [14]:
xml_title_node = xml_text_dataframe["nodes"][0]
per_to_be_added = doc.ents[0]

In [15]:
print(per_to_be_added.end_char)

15

Jetzt aktualisieren wir den Knoten und f√ºgen ein NER-Tag hinzu. Dazu lesen wir zun√§chst den urspr√ºnglichen Text bis zur Startposition der erkannten Entit√§t aus. Dann nutzen wir `SubElement`, um ein Unterelement, in dem Fall `persName` hinzuzuf√ºgen. Anschlie√üend erh√§lt `persName` den Text der Entit√§t und wir f√ºgen nachfolgend den restlichen Text als `tail` hinzu.

In [16]:
xml_title_node.text = xml_text_example[0:per_to_be_added.start_char] #set text within node equal to all chars until PER entity starts
entity_tag = ET.SubElement(xml_title_node, 'persName') #add a nested tag for new entity
entity_tag.text = per_to_be_added.text #set entity tag text equal to ent.text for tag
entity_tag.tail = xml_text_example[per_to_be_added.end_char:len(xml_text_example)] #now, add the rest of the text

Zum Schluss checken wir nochmal, ob persName innerhalb des `title`-Knotens entsprechend hinzugef√ºgt wurde, indem wir ihn mit `root.findall()` auslesen und durch dessen Kindelemente iterieren:

In [17]:
#check if node changed
for i in root.findall(".//title", namespaces)[0]:
    print(i)

<Element 'persName' at 0x7f8a382341d0>

Da wir im n√§chsten Schritt NER auf den gesamten Beispieltext anwenden wollen, bereinigen wir das Dokument vorerst wieder vom `persName`-Element (es diente hier nur der Demonstration).

In [18]:
xml_title_node.text = xml_text_example
title_children = root.findall(".//title", namespaces)[0]
for i in title_children:
    title_children.remove(i)
print(xml_title_node.text)

H. P. Lovecraft: Astronomical Observations (NAME)

### 6. NER auf viele Textelemente gleichzeitig anzuwenden

Wir k√∂nnen auch eigene Funktionen definieren, um unseren Code u.a. leichter wiederverwenden zu k√∂nnen und besser zu strukturieren. Hier ein einfaches Beispiel, wie so eine Funktion aussehen k√∂nnte. F√ºr den Funktionsparameter `xml_table` k√∂nnen wir nun beispielsweise unseren `xml_text_dataframe` einsetzen und uns die ersten 5 Texteintr√§ge aus der Tabelle ausgeben lassen:

In [19]:
def print_text(xml_table):
    num = 1
    for text in xml_table["text"]:
        print("Text Snippet #" + str(num) + ": " + text)
        num += 1

print_text(xml_text_dataframe[:5])

Text Snippet #1: H. P. Lovecraft: Astronomical Observations (NAME)
Text Snippet #2: Observed
Text Snippet #3: Obs‚Äôd
Text Snippet #4: Observed
Text Snippet #5: Obs‚Äôd

In √§hnlicher Weise k√∂nnen wir nun auch unseren bisherigen NER Code in einer Funktion unterbringen. Mit `enumerate()` werden die einzelnen `text` innerhalb des for-Loops durchgez√§hlt und wir k√∂nnen die zugeh√∂rige Position (`index`) ansprechen - diese Position ben√∂tigten wir, um die entsprechenden NER-Tags an der jeweils richtigen Stelle im XML-Dokument einf√ºgen zu k√∂nnen.

In [20]:
def ner_text(xml_table):
    for index, text in enumerate(xml_table["text"]):
        doc = nlp(text)
        for ent_count, ent in enumerate(doc.ents):
            current_xml_node = xml_table["nodes"][index]
            
            # if else statements for different positions within text
            if ent_count==0: #first additional tag
                current_xml_node.text = text[0:ent.start_char]   
            else: #last tag
                current_xml_node.text = current_xml_node[last_end_char:ent.start_char]
            entity_tag = ET.SubElement(current_xml_node,  'name') 
            entity_tag.set('n', 'ner') #add additional attributes for more information
            entity_tag.set('type', str(ent.label_))
            entity_tag.text = ent.text 
            
            if len(doc.ents) > ent_count+1: #if there are more tags to add, only read until start_char of next ent
                entity_tag.tail = text[ent.end_char:doc.ents[ent_count+1].start_char]
            else:
                entity_tag.tail = text[ent.end_char:len(text)]
                
            last_end_char = ent.end_char

ner_text(xml_text_dataframe)

### 7. Vergleich: NER auf plaintext anwenden

In [21]:
import re

with open("data/input.txt", encoding="utf-8") as file:
    textfile = file.read()

textfile = textfile.strip()
textfile = re.sub(r'\s+', ' ', textfile)

print(textfile)

Astronomical Observations Made By H.P. Lovecraft, 598, Angell St., Providence, R.I. U.S.A. Years: 1909 1910 1911 1912 1913 1914 1915 Comet, Halleys, Observed May 26, 1910 p. 1 Comet, Delavan‚Äôs, Observed September 16, 1914 p. 7 Eclipse of ‚òΩÔ∏é - June 3, 1909 p. a. Eclipse of ‚òΩÔ∏é - March 11-12, 1914 p. 6 Halley's Comet - May 26, 1910 p. 1 Halo around ‚òΩÔ∏é, February 1, 1912 p 3. Mars, Occultation of, Observed September 1, 1909 p. 1 Moon, Eclipse of - June 3, 1909 p. a. Moon, Halo around, February 1, 1912 p. 3 Mercury near Moon - February 26, 1914 pp. 5-6 Occultation of Mars - September 1, 1909 p. 1 Paraselenae - Lunar Halo - February 1, 1912 p. 3 Special Observation June 3 - 1909 Moon‚Äôs Eclipse Clouds interfered, but several glimpses were obtained - Total 7.58 - ASTRONOMICAL OBSERVATIONS 1909 Begun September 1, 1909 September 1 - Observed Occultation of Mars by Moon‚Äôs bright limb at 8h 58m occultation took 40s. Ending at 9:57 was not observed. Shy hazy. Moon fair. Observed Mare Humorum Cleomedes Langrenus Septr. 2 - Observed Mars at 9h. Markings faint & ill defined. Also observed Moon Mare Humorum appears similar to a section ‚Äúbitten‚Äù out of the moon‚Äôs terminator. 1910 Thursday, May 26 Observed Halley‚Äôs Comet 8.45-9.30 p.m. Visible in west. Head about 1.5mag. (slightly less brilliant than Regulus). Tail broad May 26, 1910, Continued & well defined. Quite bright for about 15¬∞, distinctly traceable about 30¬∞ (to a point above crater). Head about 9h 30m R.A. 3¬∞ decl. on border of Hydra & Sextans. Nucleus & Coma well defined. Used B&S prism binoculars, power 8. Regulus Hydra Position at 9 p.m. Observed. from Providence-Taunton Pike at a point just northeast from Nichol‚Äôs Crossing. Looking westward Head of Comet Œπ Œ∏ Œ∂ œÅ Position of Head in Hydra 1911 No observations 1912 February 1st. Observed a lunar halo at about 6:30 p.m. Moon 1day of full Halo was of about 45¬∞ diameter, with rather noticeable paraselenae on an horizontal line with the moon. No prismatic colours were apparent. The left hand (northern) paraselena was more or less obscured by clouds and appeared only at intervals. The right-hand mock-moon was prominent, and attracted much attention. The two paraselenae were seen as February 1, 1912, Continued diffused patches of light. This part of halo most prominent. North Paraselena (faint & visible only at intervals) Moon South Paraselena (Prominent - attracted much attention) Clouds EASTERN HORIZON The northern arc of the halo was by far the brightest part. October 19, 11:00p.m. Observed Moon, 2days gibbous. Copernicus on terminator. Tycho, Clavius & Maginus were favourably situate in the southern part of the disc. 1913 No observations 1914 In January, Mars & Saturn were observed. February 26, 6:h 15m p.m. Observed Moon, 2days old, and Mercury. Moon's crescent very thin. Earthshine visible even in strong twilight. Mercury appeared about 5¬∞ below and to the right of Moon, twinkling like a bright star in the increasing dusk. ‚òΩÔ∏é R.A. 23h 56m Dec +1¬∞ ‚òø R.A. 23h 35m Dec -0¬∞ 3' The above position very rough. February 26, 1914, Continued The Moon was almost at the Vernal Equinox. Mercury View looking northwest Earlier in the day the Moon and Mercury had been in conjunction. March 11-12 Observed partial eclipse of Moon. Over 0.9 of disc eclipsed. Very well seen. September 16 - 4 a.m. to dawn - Observed Delavan‚Äôs Comet &heavens in general. Delavan‚Äôs Comet lay in R.A. 10h 08m 06s., Dec. 49¬∞ 51' 14" in Ursa Major, as shown by diagram. Plough Comet Northeast Horizon It had about the brightness of a star of the 4th. magnitude, appearing to the naked eye, as a blurred spot of light; rather faint, yet easily visible. In the opera glasses this blur resolved itself into a star-like nucleus, a bright coma, & a short, broad tail. In the prism binoculars these details were better seen, whilst in the 3" telescope with powers of 50 & 100 the comet was indeed a beautiful sight. A small telescope star could at that time be seen shining through the faint luminosity of the tail. The best view was with 3" telescope terrestrial Eyepiece 50 diameters. Tail about 1¬∞ in length. Observations made from grounds of residence, & somewhat hampered by electric street lights. At this same time Moon was a beautiful crescent 3days before new. Earthshine very powerful: Could see Maria Crisium, Serenitatis Tranquillitatis Fecunditatis Nectaris very plainly on dark part of disc. Schickard on terminator - fine sight. Grimaldi visible - very dark. Saturn also fine object. Winter stars fully in view - Orion, Canis Major, +c. Orion's nebula very beautiful in 3" with power 50 September 17 - Observed Delavan‚Äôs Comet 4-5 a.m. Also Moon. Earthshine on Moon very strong, especially when rising above house top & bright thin crescent hidden. Comet appears brighter as Moon wanes. Principal Astronomical Work (1) To keep track of all celestial phenomena month by month, as positions of planets, phases of moon, Sign of Sun, Occultations, Meteor Showers, unusual phenomena (record) also new discoveries. (2) To keep up a working knowledge of the constellations and their Seasons. (3) To observe all planets, etc. with a large telescope when they are favourably situated (at 7h 30m in winter, about 9h or less in Summer, supplemented by morning observations) (4) To observe opera or field glass objects among the stars with a low power instrument, recording results, (5) To keep a careful record of each night‚Äôs work. (6) To contribute a monthly astronomical article of about 7 p. M.S. or 4 p. type, to the Providence Evening News. (Began Jan 1, 1914.) Position of Residence 598 Angell Street, Providence, Rhode Island Latitude 41¬∞ 50' 00" North Longitude 71¬∞ 23' 09" West local Time 4h 45m 32.3sx (Washington), local 0h 22m 43.5s# Difference between Mn. & Standard 0h 14m 27.7s (- mn to standard) Fundamental Data 1¬∞ Latitude = 69.23m at 41¬∞ 50' 1¬∞ Longitude = 52.00m at 41¬∞ 50' 1s Time = 1146.5ft at 41¬∞ 50' 1¬∞ Longitude = (1¬∞ Latitude) (cos. Latitude) Remarks To red. W.M.T. to Eastern Standard Time add 6m 16s. G.M.T. to Eastern Standard Time Subtract 5h. # To be added to W.M.T. for Local Time x To be subtracted from G.M.T. for Local Time. Instruments Dimensions of Telescope Clear Aperture ---- 3 inches Eyepieces, 2. 50 (terrestrial) and 125 (astronomical) Focus (with astronomical) --- 44in Focus (with terrestrial) --- 52in Manufactured By Bardou Altazimuth Stand by R.L. Allen Purchased 1906 (Sep. 13) Accessories Lunar Map By Wright Year Book - Farmer‚Äôs Almanack Planispheres - Whittaker & Barrett-Serviss Atlas by Upton & Library Opera glasses - Prism Binoculars American Ephemeris and Nautical Almanack

In [22]:
doc_textfile = nlp(textfile)

for ent in doc_textfile.ents:
    print(ent.text, ent.start_char, ent.end_char, ent.label_)

H.P. Lovecraft 34 48 ORG
598 50 53 CARDINAL
Angell St. 55 65 ORG
Providence 67 77 GPE
R.I. 79 83 GPE
1909 1910 1911 1912 1913 1914 1915 98 132 DATE
Halleys 140 147 PERSON
May 26, 1910 158 170 DATE
1 174 175 CARDINAL
Delavan‚Äôs 183 192 ORG
September 16, 1914 203 221 DATE
7 225 226 CARDINAL
March 11-12, 1914 278 295 DATE
6 299 300 CARDINAL
Halley 301 307 ORG
1910 326 330 DATE
1 334 335 CARDINAL
February 1 352 362 DATE
1912 364 368 DATE
3 371 372 CARDINAL
September 1, 1909 405 422 DATE
1 426 427 CARDINAL
1909 455 459 DATE
Halo 472 476 PERSON
February 1, 1912 485 501 DATE
3 505 506 CARDINAL
Mercury 507 514 ORG
Moon 520 524 GPE
1914 540 544 DATE
5 549 550 CARDINAL
1909 588 592 DATE
1 596 597 CARDINAL
February 1 625 635 DATE
1912 637 641 DATE
3 645 646 CARDINAL
June 3 - 1909 Moon‚Äôs Eclipse Clouds 667 702 DATE
7.58 758 762 CARDINAL
1909 791 795 DATE
Begun September 1, 1909 September 1 - Observed Occultation of Mars 796 862 EVENT
Moon 866 870 PERSON
8h 58 888 893 CARDINAL
40s 912 915 DATE
9:57 927 931 DATE
Moon 960 964 PERSON
2 1020 1021 CARDINAL
9h 1041 1043 CARDINAL
Markings 1045 1053 ORG
Moon 1089 1093 PERSON
1910 1175 1179 DATE
Thursday, May 26 1180 1196 DATE
8.45-9.30 p.m. Visible 1221 1243 TIME
about 1.5mag 1258 1270 CARDINAL
Regulus 1302 1309 GPE
May 26, 1910 1323 1335 DATE
Continued & 1337 1348 ORG
about 15 1380 1388 CARDINAL
about 30 1412 1420 CARDINAL
about 9h 30 1454 1465 CARDINAL
R.A. 3¬∞ decl 1467 1479 PERSON
Hydra & Sextans 1494 1509 ORG
Nucleus & Coma 1511 1525 ORG
B&S 1545 1548 ORG
8 1573 1574 CARDINAL
Hydra Position 1584 1598 PERSON
9 p.m. Observed 1602 1617 TIME
Providence-Taunton Pike 1624 1647 ORG
Nichol‚Äôs Crossing 1679 1696 PERSON
Hydra 1757 1762 GPE
1911 1763 1767 DATE
1912 February 1st 1784 1801 DATE
about 6:30 p.m. Moon 1828 1848 TIME
1day 1849 1853 DATE
Halo 1862 1866 FAC
about 45 1874 1882 CARDINAL
two 2180 2183 CARDINAL
February 1, 1912 2209 2225 DATE
North Paraselena 2298 2314 GPE
Moon South Paraselena 2351 2372 ORG
EASTERN 2419 2426 ORG
October 19, 11:00p.m 2495 2515 DATE
Observed Moon 2517 2530 PERSON
2days 2532 2537 DATE
Copernicus 2547 2557 ORG
Tycho, 2573 2579 ORG
Clavius & Maginus 2580 2597 ORG
1913 2656 2660 DATE
1914 2677 2681 DATE
January 2685 2692 DATE
February 26 2723 2734 DATE
6 2736 2737 CARDINAL
15m p.m. 2740 2748 TIME
Observed Moon 2749 2762 PERSON
2days 2764 2769 DATE
Mercury 2779 2786 ORG
Moon 2788 2792 PERSON
Mercury 2859 2866 ORG
about 5 2876 2883 CARDINAL
Moon 2911 2915 PERSON
‚òΩÔ∏é 2970 2972 PERSON
R.A. 2973 2977 GPE
56 2982 2984 CARDINAL
R.A. 2996 3000 GPE
35 3005 3007 CARDINAL
Dec -0¬∞ 3' 3009 3019 DATE
February 26, 1914 3051 3068 DATE
Moon 3084 3088 PERSON
Mercury 3123 3130 ORG
View 3131 3135 PERSON
Earlier in the day 3154 3172 TIME
Moon 3177 3181 PERSON
Mercury 3186 3193 ORG
March 11-12 3219 3230 DATE
Moon 3259 3263 PERSON
0.9 3270 3273 CARDINAL
September 16 - 4 a.m. 3308 3329 DATE
Delavan‚Äôs Comet 3386 3401 ORG
R.A. 3409 3413 GPE
10h 08m 06s 3414 3425 DATE
Dec. 49 3428 3435 DATE
Ursa Major 3448 3458 ORG
4th 3557 3560 ORDINAL
3 3844 3845 CARDINAL
50 3872 3874 CARDINAL
3 4044 4045 CARDINAL
50 4078 4080 CARDINAL
about 1 4097 4104 CARDINAL
Moon 4227 4231 PERSON
3days 4257 4262 DATE
Maria Crisium 4311 4324 PERSON
Serenitatis Tranquillitatis Fecunditatis Nectaris 4326 4375 PERSON
Grimaldi 4449 4457 PERSON
Winter 4504 4510 DATE
3 4590 4591 CARDINAL
50 4604 4606 CARDINAL
September 17 4607 4619 EVENT
4-5 a.m. 4647 4655 TIME
Moon 4661 4665 PERSON
Moon 4681 4685 PERSON
Moon 4795 4799 PERSON
Astronomical Work 4817 4834 PERSON
1 4836 4837 CARDINAL
month 4889 4894 DATE
Occultations 4950 4962 ORG
Meteor Showers 4964 4978 PERSON
2 5030 5031 CARDINAL
3 5106 5107 CARDINAL
7h 30 5199 5204 MONEY
winter 5209 5215 DATE
about 9h 5217 5225 CARDINAL
Summer 5237 5243 DATE
morning 5261 5268 TIME
4 5284 5285 CARDINAL
5 5392 5393 CARDINAL
6 5443 5444 CARDINAL
monthly 5462 5469 DATE
about 7 5494 5501 CARDINAL
M.S. 5505 5509 GPE
4 5513 5514 CARDINAL
the Providence Evening News 5527 5554 LAW
Began Jan 1, 1914 5557 5574 DATE
Residence 598 Angell Street 5589 5616 ORG
Providence 5618 5628 GPE
Rhode Island 5630 5642 GPE
41¬∞ 50' 00 5652 5662 CARDINAL
4h 45 5708 5713 DATE
Washington 5723 5733 GPE
0h 22 5742 5747 CARDINAL
Mn. & Standard 5775 5789 ORG
14 5793 5795 CARDINAL
27.7s 5797 5802 DATE
Fundamental Data 5822 5838 ORG
1¬∞ 5839 5841 CARDINAL
69.23 5853 5858 CARDINAL
41¬∞ 50' 1 5863 5872 CARDINAL
52.00 5886 5891 CARDINAL
41¬∞ 50' 1s 5896 5906 CARDINAL
Time 5907 5911 ORG
1146.5 5914 5920 CARDINAL
1¬∞ 5950 5952 CARDINAL
W.M.T. 5995 6001 ORG
Eastern Standard Time 6005 6026 ORG
6 6031 6032 CARDINAL
16s 6034 6037 DATE
G.M.T. 6039 6045 ORG
Eastern Standard Time 6049 6070 ORG
5h 6080 6082 CARDINAL
Local Time 6112 6122 ORG
Local Time 6158 6168 ORG
3 inches 6226 6234 QUANTITY
Eyepieces 6235 6244 ORG
2 6246 6247 CARDINAL
50 6249 6251 DATE
125 6270 6273 CARDINAL
44 6319 6321 CARDINAL
Focus 6324 6329 GPE
52 6353 6355 CARDINAL
Manufactured By Bardou Altazimuth Stand 6358 6397 ORG
R.L. Allen 6401 6411 PERSON
1906 6422 6426 DATE
Sep. 13 6428 6435 DATE
Lunar Map 6449 6458 PERSON
Wright 6462 6468 PERSON
Planispheres - Whittaker & Barrett-Serviss 6499 6541 ORG
Atlas 6542 6547 PERSON
Upton & Library Opera 6551 6572 ORG
Binoculars American 6589 6608 ORG
Ephemeris 6609 6618 PERSON

### 8. Ergebnisse exportieren
Am Ende kann der aktualisierte XML-Baum mit `tree.write()` wieder in eine XML-Datei geschrieben werden. Damit der Namensraum-Pr√§fix nicht in den Elementen auftaucht, k√∂nnen wir ihn mit `register_namespace` vorher entsprechend angeben.

In [23]:
#write result to output file
ET.register_namespace("", "http://www.tei-c.org/ns/1.0")
tree.write('data/output.xml', xml_declaration=True, encoding='utf-8', method='xml')
#TODO: add PI/statement from L2: <?xml-model href="hpl_ao.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>

## Teil 3: Weitere Natural Language Processing (NLP) Anwendungsf√§lle und Analysen 

In den vorherigeren Teilen haben wir gezeigt, (1) wie wir XML einlesen und verarbeiten k√∂nnen, und (2) wie wir ein bereits vortrainertes NER-Modell auf einzelne Bestandteile des XML-Dokuments oder einen vorab aus dem XML extrahierten Plaintext anwenden k√∂nnen. Nat√ºrlich w√§ren basierend auf den vorangegangenen Verarbeitungsschritten noch zahlreiche andere Analysen m√∂glich, mit denen wir das XML potenziell anreichern k√∂nnten. Hier wollen wir ausblickend anhand einiger Beispiele aufzeigen, welche weiterf√ºhrenden Analyse noch m√∂glich w√§ren. Im Folgenden dazu einige h√§ufige Szenarien:

- **Sentiment-Analyse**: Messung von Stimmung (Emotion)
- **Kollokationen**: geh√§uftes Auftreten von Wortpaaren
- **KWIC**: Kontexte von Begriffen im Text
- **POS-Tagging**: Auswertung von Wortarten, Normalisierung

### Vorbereitung des Plaintexts f√ºr weitere Analysen

Schauen wir uns erst einmal an, wie wir den Text ggf. noch f√ºr weitere Analyse aufbereiten k√∂nnen. Wir nutzen unten einen regelbasierten Ansatz (mithilfe von re), um Satzstrukturen zu erkennen und bauen dann daraus wieder einen pandas DataFrame. Alternativ h√§tten wir auch den sogenannten [Sentencizer](https://spacy.io/api/sentencizer) von spaCy hierf√ºr nutzen k√∂nnen. Es gibt also meistens nicht den einen Ansatz f√ºr ein Problem, und ggf. muss man auch Verschiedenes einfach ausprobieren. Schauen wir uns die S√§tze einmal und gehen dann zum n√§chsten Schritt √ºber.

In [24]:
# Alles aus textfile ‚Üí zu DataFrame ‚Üí komplett anzeigen (scrollbar)

# S√§tze splitten und in DataFrame-Variable umwandeln
sentences = [s.strip() for s in re.split(r'(?<!\w\.\w.)(?<![A-Z][a-z]\.)(?<=\.|\?)\s', textfile) if s.strip()]
plaintext_df = pd.DataFrame({'nodes': range(len(sentences)), 'text': sentences})

# Alle rows anzeigen
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.max_colwidth', None):
    display(plaintext_df)

print(f" {len(plaintext_df)} S√§tze komplett angezeigt")

,nodes,text
0,0,"Astronomical Observations Made By H.P. Lovecraft, 598, Angell St., Providence, R.I. U.S.A. Years: 1909 1910 1911 1912 1913 1914 1915 Comet, Halleys, Observed May 26, 1910 p."
1,1,"1 Comet, Delavan‚Äôs, Observed September 16, 1914 p."
2,2,"7 Eclipse of ‚òΩÔ∏é - June 3, 1909 p."
3,3,a.
4,4,"Eclipse of ‚òΩÔ∏é - March 11-12, 1914 p."
5,5,"6 Halley's Comet - May 26, 1910 p."
6,6,"1 Halo around ‚òΩÔ∏é, February 1, 1912 p 3."
7,7,"Mars, Occultation of, Observed September 1, 1909 p."
8,8,"1 Moon, Eclipse of - June 3, 1909 p."
9,9,a.
10,10,"Moon, Halo around, February 1, 1912 p."
11,11,"3 Mercury near Moon - February 26, 1914 pp."
12,12,"5-6 Occultation of Mars - September 1, 1909 p."
13,13,"1 Paraselenae - Lunar Halo - February 1, 1912 p."
14,14,"3 Special Observation June 3 - 1909 Moon‚Äôs Eclipse Clouds interfered, but several glimpses were obtained - Total 7.58 - ASTRONOMICAL OBSERVATIONS 1909 Begun September 1, 1909 September 1 - Observed Occultation of Mars by Moon‚Äôs bright limb at 8h 58m occultation took 40s."
15,15,Ending at 9:57 was not observed.
16,16,Shy hazy.
17,17,Moon fair.
18,18,Observed Mare Humorum Cleomedes Langrenus Septr.
19,19,2 - Observed Mars at 9h.
20,20,Markings faint & ill defined.
21,21,Also observed Moon Mare Humorum appears similar to a section ‚Äúbitten‚Äù out of the moon‚Äôs terminator.
22,22,"1910 Thursday, May 26 Observed Halley‚Äôs Comet 8.45-9.30 p.m. Visible in west."
23,23,Head about 1.5mag.
24,24,(slightly less brilliant than Regulus).
25,25,"Tail broad May 26, 1910, Continued & well defined."
26,26,"Quite bright for about 15¬∞, distinctly traceable about 30¬∞ (to a point above crater)."
27,27,Head about 9h 30m R.A. 3¬∞ decl.
28,28,on border of Hydra & Sextans.
29,29,Nucleus & Coma well defined.
30,30,"Used B&S prism binoculars, power 8."
31,31,Regulus Hydra Position at 9 p.m. Observed.
32,32,from Providence-Taunton Pike at a point just northeast from Nichol‚Äôs Crossing.
33,33,Looking westward Head of Comet Œπ Œ∏ Œ∂ œÅ Position of Head in Hydra 1911 No observations 1912 February 1st.
34,34,"Observed a lunar halo at about 6:30 p.m. Moon 1day of full Halo was of about 45¬∞ diameter, with rather noticeable paraselenae on an horizontal line with the moon."
35,35,No prismatic colours were apparent.
36,36,The left hand (northern) paraselena was more or less obscured by clouds and appeared only at intervals.
37,37,"The right-hand mock-moon was prominent, and attracted much attention."
38,38,"The two paraselenae were seen as February 1, 1912, Continued diffused patches of light."
39,39,This part of halo most prominent.
40,40,North Paraselena (faint & visible only at intervals) Moon South Paraselena (Prominent - attracted much attention) Clouds EASTERN HORIZON The northern arc of the halo was by far the brightest part.
41,41,"October 19, 11:00p.m. Observed Moon, 2days gibbous."
42,42,Copernicus on terminator.
43,43,"Tycho, Clavius & Maginus were favourably situate in the southern part of the disc."
44,44,"1913 No observations 1914 In January, Mars & Saturn were observed."
45,45,"February 26, 6:h 15m p.m. Observed Moon, 2days old, and Mercury."
46,46,Moon's crescent very thin.
47,47,Earthshine visible even in strong twilight.
48,48,"Mercury appeared about 5¬∞ below and to the right of Moon, twinkling like a bright star in the increasing dusk."
49,49,‚òΩÔ∏é R.A. 23h 56m Dec +1¬∞ ‚òø R.A. 23h 35m Dec -0¬∞ 3' The above position very rough.
50,50,"February 26, 1914, Continued The Moon was almost at the Vernal Equinox."
51,51,Mercury View looking northwest Earlier in the day the Moon and Mercury had been in conjunction.
52,52,March 11-12 Observed partial eclipse of Moon.
53,53,Over 0.9 of disc eclipsed.
54,54,Very well seen.
55,55,September 16 - 4 a.m. to dawn - Observed Delavan‚Äôs Comet &heavens in general.
56,56,"Delavan‚Äôs Comet lay in R.A. 10h 08m 06s., Dec."
57,57,"49¬∞ 51' 14"" in Ursa Major, as shown by diagram."
58,58,Plough Comet Northeast Horizon It had about the brightness of a star of the 4th.
59,59,"magnitude, appearing to the naked eye, as a blurred spot of light; rather faint, yet easily visible."
60,60,"In the opera glasses this blur resolved itself into a star-like nucleus, a bright coma, & a short, broad tail."
61,61,"In the prism binoculars these details were better seen, whilst in the 3"" telescope with powers of 50 & 100 the comet was indeed a beautiful sight."
62,62,A small telescope star could at that time be seen shining through the faint luminosity of the tail.
63,63,"The best view was with 3"" telescope terrestrial Eyepiece 50 diameters."
64,64,Tail about 1¬∞ in length.
65,65,"Observations made from grounds of residence, & somewhat hampered by electric street lights."
66,66,At this same time Moon was a beautiful crescent 3days before new.
67,67,"Earthshine very powerful: Could see Maria Crisium, Serenitatis Tranquillitatis Fecunditatis Nectaris very plainly on dark part of disc."
68,68,Schickard on terminator - fine sight.
69,69,Grimaldi visible - very dark.
70,70,Saturn also fine object.
71,71,"Winter stars fully in view - Orion, Canis Major, +c."
72,72,"Orion's nebula very beautiful in 3"" with power 50 September 17 - Observed Delavan‚Äôs Comet 4-5 a.m. Also Moon."
73,73,"Earthshine on Moon very strong, especially when rising above house top & bright thin crescent hidden."
74,74,Comet appears brighter as Moon wanes.
75,75,"Principal Astronomical Work (1) To keep track of all celestial phenomena month by month, as positions of planets, phases of moon, Sign of Sun, Occultations, Meteor Showers, unusual phenomena (record) also new discoveries."
76,76,(2) To keep up a working knowledge of the constellations and their Seasons.
77,77,"(3) To observe all planets, etc."
78,78,"with a large telescope when they are favourably situated (at 7h 30m in winter, about 9h or less in Summer, supplemented by morning observations) (4) To observe opera or field glass objects among the stars with a low power instrument, recording results, (5) To keep a careful record of each night‚Äôs work."
79,79,(6) To contribute a monthly astronomical article of about 7 p.
80,80,M.S. or 4 p.
81,81,"type, to the Providence Evening News."
82,82,"(Began Jan 1, 1914.) Position of Residence 598 Angell Street, Providence, Rhode Island Latitude 41¬∞ 50' 00"" North Longitude 71¬∞ 23' 09"" West local Time 4h 45m 32.3sx (Washington), local 0h 22m 43.5s# Difference between Mn. & Standard 0h 14m 27.7s (- mn to standard) Fundamental Data 1¬∞ Latitude = 69.23m at 41¬∞ 50' 1¬∞ Longitude = 52.00m at 41¬∞ 50' 1s Time = 1146.5ft at 41¬∞ 50' 1¬∞ Longitude = (1¬∞ Latitude) (cos."
83,83,Latitude) Remarks To red.
84,84,W.M.T. to Eastern Standard Time add 6m 16s.
85,85,G.M.T. to Eastern Standard Time Subtract 5h.
86,86,# To be added to W.M.T. for Local Time x To be subtracted from G.M.T. for Local Time.
87,87,"Instruments Dimensions of Telescope Clear Aperture ---- 3 inches Eyepieces, 2."
88,88,50 (terrestrial) and 125 (astronomical) Focus (with astronomical) --- 44in Focus (with terrestrial) --- 52in Manufactured By Bardou Altazimuth Stand by R.L. Allen Purchased 1906 (Sep.
89,89,13) Accessories Lunar Map By Wright Year Book - Farmer‚Äôs Almanack Planispheres - Whittaker & Barrett-Serviss Atlas by Upton & Library Opera glasses - Prism Binoculars American Ephemeris and Nautical Almanack

 90 S√§tze komplett angezeigt

### 9. Sentiment-Analyse mit VADER (NLTK)

Bei der Sentimentanalyse geht es um eine automatische Stimmungserkennung, die stark verwandt mit der sogenannten Emotionsanalyse ist. Beim Sentiment geht allerdings lediglich um die Einteilung in positive (Werte zwischen `0` und `+1`), neutrale (`0`) und negative (Werte zwischen `-1` und `0`) Stimmungslagen. 

F√ºr die Sentimentanalyse verwenden wir das Natural Language Toolkit, kurz NLTK. Neben dem Installieren (bereits erfolgt) und Importieren der nltk Bibliothek m√ºssen wir noch einmalig das VADER Lexikon herunterladen.

In [25]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [26]:
#nltk.download('vader_lexicon', quiet=True)

In [27]:
# VADER initialisieren
sia = SentimentIntensityAnalyzer()

# Sentiment auf alle Textelemente berechnen
sentiment_scores = []
for idx, row in plaintext_df.iterrows():
    text = row['text']
    scores = sia.polarity_scores(text)
    sentiment_scores.append({
        'node': row['nodes'],
        'text': text,
        'sentiment_compound': scores['compound'],
        'sentiment_label': 'positiv' if scores['compound'] > 0.05 else \
                           'negativ' if scores['compound'] < -0.05 else 'neutral'
    })

sentiment_df = pd.DataFrame(sentiment_scores)
sentiment_df.head()

# CSV-Export: Sentiment-Scores
sentiment_df.to_csv('data/nlp_output/sentiment_plaintext.csv', index=False, encoding='utf-8')
print(sentiment_df['sentiment_label'].value_counts())

sentiment_label
neutral    58
positiv    26
negativ     6
Name: count, dtype: int64

### 10. Kollokationen & KWIC (NLTK)

Bei der Analyse der **Kollokationen** untersuchen wir, welche Wortpaare im Text besonders h√§ufig zusammen auftreten. Mit **KWIC (Keyword in Context)** k√∂nnen wir uns auf einen Blick anzeigen lassen, in welchen unterschiedlichen Kontexten ein Begriff innerhalb eines Textes auftaucht.

In [28]:
# Kollokationen √ºber alle Textelemente
from nltk.collocations import BigramCollocationFinder
from nltk.metrics import BigramAssocMeasures
from nltk.tokenize import word_tokenize

nltk.download('punkt_tab', quiet=True)

# Alle Tokens sammeln
all_tokens = []
for text in plaintext_df['text']:
    tokens = word_tokenize(text.lower())
    tokens_clean = [t for t in tokens if t.isalpha()]
    all_tokens.extend(tokens_clean)

# Alle Kollokationen berechnen
bigram_finder = BigramCollocationFinder.from_words(all_tokens)
alle_kollokationen_scored = bigram_finder.score_ngrams(BigramAssocMeasures.likelihood_ratio)  # ALLE mit Scores!

# Top 10 anzeigen
top10_kollokationen = bigram_finder.nbest(BigramAssocMeasures.likelihood_ratio, 10)
print("Top 10 Kollokationen (Lovecraft-Stil):")
for kollokation in top10_kollokationen:
    print(f"  {kollokation}")

# KWIC f√ºr Beispiel-Keyword "comet" (muss dann dementsprechend ersetzt/ angepasst werden, falls anderes Keyword gew√ºnscht)
def kwic(text_list, keyword, context_size=5):
    keyword = keyword.lower()
    results = []
    for text in text_list:
        tokens = word_tokenize(text.lower())
        for i, token in enumerate(tokens):
            if token == keyword:
                start = max(0, i-context_size)
                end = min(len(tokens), i+context_size+1)
                context = ' '.join(tokens[start:end])
                results.append(context)
                print(f"...{context}...")
    return results

print("\nKWIC f√ºr 'comet':")
kwic_results = kwic(plaintext_df['text'].tolist(), 'comet')

# CSV-Export: alle Kollokationen mit Scores
kollokationen_df = pd.DataFrame(alle_kollokationen_scored, columns=['kollokation', 'score'])
kollokationen_df['kollokation'] = kollokationen_df['kollokation'].astype(str)
kollokationen_df.to_csv('data/nlp_output/kollokationen_plaintext.csv', index=False)

# CSV-Export: KWIC f√ºr "comet"
kwic_df = pd.DataFrame({'kwic_comet': kwic_results})
kwic_df.to_csv('data/nlp_output/kwic_comet_plaintext.csv', index=False)

Top 10 Kollokationen (Lovecraft-Stil):
  ('prism', 'binoculars')
  ('delavan', 's')
  ('attracted', 'much')
  ('mare', 'humorum')
  ('much', 'attention')
  ('local', 'time')
  ('opera', 'glasses')
  ('to', 'keep')
  ('s', 'comet')
  ('eclipse', 'of')

KWIC f√ºr 'comet':
...1911 1912 1913 1914 1915 comet , halleys , observed may...
...1 comet , delavan ‚Äô s ,...
...6 halley 's comet - may 26 , 1910...
...26 observed halley ‚Äô s comet 8.45-9.30 p.m. visible in west...
...looking westward head of comet Œπ Œ∏ Œ∂ œÅ position...
...- observed delavan ‚Äô s comet & heavens in general ....
...delavan ‚Äô s comet lay in r.a. 10h 08m...
...plough comet northeast horizon it had about...
...of 50 & 100 the comet was indeed a beautiful sight...
...- observed delavan ‚Äô s comet 4-5 a.m. also moon ....
...comet appears brighter as moon wanes...

### 11. POS-Tagging & Feature-Extraktion (spaCy)

Part-of-Speech oder POS-Tagging bezeichnet das Annotieren von Texten mit Wortarten. Mit unserem spaCy erhalten wir nach dem Prozessieren unseres Textes neben den NER-Tags auch direkt die POS-Tags. Wir k√∂nnen so den Text nicht nur weiter aufbereiten, sondern auch z.B. bestimmte Wortarten, die eigene Funktionen im Text erf√ºllen, extrahieren: 
* Adjektive (Bewertung/Sentiment)
* Verben (Aktionen)
* Substantive (Fokus)

Mit `token.lemma_.lower()` k√∂nnen wir die Tokens f√ºr darauf aufbauende Analysen normalisieren bzw. zusammenf√ºhren. So werden beispielsweise `commet` und `comet` in der abschlie√üenden Auswertung als gleiches Token gez√§hlt. POS-Tags erscheinen f√ºr manche Anwendungsf√§lle zun√§chst vielleicht nicht relevant, k√∂nnen aber f√ºr andere NLP-Verfahren hilfreiche Informationen √ºber die Sprache des Textes liefern.

In [29]:
# POS-Tagging
pos_features = []
for idx, row in plaintext_df.iterrows():
    text = row['text']
    doc = nlp(text)
    
# Bereinigte Features extrahieren (keine URLs, Zahlen, etc.)
    adjectives = [
        token.lemma_.lower() 
        for token in doc 
        if token.pos_ == 'ADJ' 
        and token.is_alpha 
        and not token.like_url 
        and len(token.text) > 2
    ]
    verbs = [
        token.lemma_.lower() 
        for token in doc 
        if token.pos_ == 'VERB' 
        and token.is_alpha 
        and len(token.text) > 2
    ]
    nouns = [
        token.lemma_.lower() 
        for token in doc 
        if token.pos_ in ['NOUN', 'PROPN'] 
        and token.is_alpha 
        and len(token.text) > 2
    ]
    
    pos_features.append({
        'node': row['nodes'],
        'text': text,
        'adjectives': adjectives,
        'verbs': verbs,
        'nouns': nouns,
        'num_adjectives': len(adjectives),
        'num_verbs': len(verbs),
        'num_nouns': len(nouns)
    })

pos_df = pd.DataFrame(pos_features)
display(pos_df.head())  # Besser als print

# Top Listen 
print("\nTop 10 Adjektive (Lovecrafts Bewertungen):")
all_adjs = [adj for row in pos_df['adjectives'] for adj in row]
top_adjs = pd.Series(all_adjs).value_counts()
print(top_adjs.head(10))

print("\nTop 10 Verben:")
all_verbs = [v for row in pos_df['verbs'] for v in row]
top_verbs = pd.Series(all_verbs).value_counts()
print(top_verbs.head(10))

print("\nTop 10 Substantive:")
all_nouns = [n for row in pos_df['nouns'] for n in row]
top_nouns = pd.Series(all_nouns).value_counts()
print(top_nouns.head(10))

# CSV-Export: POS-Ergebnisse
pos_df.to_csv('data/nlp_output/pos_tagging_plaintext.csv', index=False, encoding='utf-8')

,node,text,adjectives,verbs,nouns,num_adjectives,num_verbs,num_nouns
0,0,Astronomical Observations Made By H.P. Lovecra...,[],[make],"[astronomical, observations, lovecraft, angell...",0,1,10
1,1,"1 Comet, Delavan‚Äôs, Observed September 16, 191...",[observed],[],"[comet, delavan, september]",1,0,3
2,2,"7 Eclipse of ‚òΩÔ∏é - June 3, 1909 p.",[],[],"[eclipse, june]",0,0,2
3,3,a.,[],[],[],0,0,0
4,4,"Eclipse of ‚òΩÔ∏é - March 11-12, 1914 p.",[],[],"[eclipse, march]",0,0,2

Top 10 Adjektive (Lovecrafts Bewertungen):
bright          7
visible         5
faint           3
observed        3
terrestrial     3
beautiful       3
astronomical    3
much            2
broad           2
prominent       2
Name: count, dtype: int64

Top 10 Verben:
observe       8
appear        5
see           5
earthshine    3
define        3
keep          3
look          2
make          2
continue      2
add           2
Name: count, dtype: int64

Top 10 Substantive:
moon           24
comet          11
observed        8
february        8
time            8
september       7
halo            7
star            6
observation     6
position        5
Name: count, dtype: int64