# Editionsdaten semantisch anreichern¬†‚Äì XML-Parsing und Named Entity Recognition (NER) mit Python

Dieses Notebook ist im Rahmen der Fortbildungsreihe "Vom Dokument zur Edition" und konkret des Workshops [Editionsdaten semantisch anreichern¬†‚Äì XML-Parsing und Named Entity Recognition (NER) mit Python](https://www.it.fu-berlin.de/unsere-services/kompetenzentwicklung/fortbildungen/workshops/E-Research/2026-01-27-Editionsdaten-WS4.html) im WiSe 2025/26 an der FU Berlin entstanden. Das Notebook soll als erster Einstieg dienen und erkl√§ren, wie XML-Dateien mit Python eingelesen sowie der enthaltene Text extrahiert, weiterverarbeitet und ins urspr√ºngliche XML zur√ºckgef√ºhrt werden kann.

## Teil 1: XML einlesen und aufbereiten

### 1. Installation
Um dieses Notebook ausf√ºhren zu k√∂nnen, m√ºssen [Python](https://www.python.org/) und [Jupyter Notebook](https://jupyter.org/) installiert sein. In Vorbereitung auf die Veranstaltung wird den Teilnehmenden eine darauf zugeschittene Anleitung zur Installation von Anaconda zugeschickt. Mit Anaconda sind neben Python bereits Jupyter Notebook sowie diverse weitere Bibliotheken vorinstalliert. Da die Bibliothek spacy (welche wir ben√∂tigen) leider nicht in der Liste der vorinstallierten Bibliotheken enthalten ist, erstellen wir eine seperate Entwicklungsumgebung. 

Hierzu √∂ffnen wir ein Kommandozeilenfenster (*CMD.exe Prompt*) und geben die folgenden Befehle jeweils nacheinander ein:

* `conda create -n ner4xml python=3.11`
* `y`
* `conda activate ner4xml`
* `conda install jupyter spacy pandas`
* `jupyter notebook`

Kurzzusammenfassung, was hier passiert ist: wir (1) erstellen mit dem Paketmanager `conda` eine neue Umgebung namens `ner4xml`, welche die Python-Version 3.11 nutzt, mit (2) `y` (`yes`) best√§tigen wir den Vorgang und sobald dies beendet ist (3) aktivieren wir die Umgebung, (4) installieren alle ben√∂tigten Bibliotheken und (5) rufen Jupyter Notebook auf. Dann m√ºssen wir noch zu unserem Notebook navigieren und k√∂nnen dieses √∂ffnen. Weitere Befehle, die sonst im Terminal eingegeben werden m√ºssten (z.B. zur Installation weiterer Bibliotheken), k√∂nnen wir nun auch im Notebook aufrufen, indem wir ein `!` voranstellen.

In [1]:
#ein typischer Befehl, um zu pr√ºfen ob und welche Version von Python installiert ist
!python --version

Python 3.9.23

Nun laden wir f√ºr sp√§ter noch ein Modell von spacy herunter (diesen Schritt m√ºssen wir nur einmal ausf√ºhren, dann k√∂nnen wir ihn z.B. mithilfe von `#` auskommentieren):

In [4]:
#!python -m spacy download de_core_news_sm

### 2. Import der Bibliotheken
W√§hrend die Bibliotheken grunds√§tzlich nur einmal installiert werden m√ºssen, m√ºssen wir sie jedes Mal vor der Verwendung importieren. Haben wir den Import vergessen, kommt z.B. eine Fehlermeldung wie `NameError: name '<name_bibliothek>' is not defined` üò°. Um das zu vermeiden, m√ºssen wir alle Python-Bibliotheken importieren - auch solche aus der Standardbibliothek (wie hier `xml.etree.ElementTree`), die wir gar nicht gesondert vorher installieren mussten. Das Importieren erledigen wir am besten immer direkt am Anfang eines Python-Skripts oder -Notebooks ‚úÖ

In [5]:
import xml.etree.ElementTree as ET
import pandas as pd
import spacy

### 3. Laden und Parsen der XML-Daten
Nun geht es ans Eingemachte ü´ô. Wir definieren eine Variable `path_to_file` und geben dort den relativen Pfad zur XML-Datei (kann abweichen und muss ggf. angepasst werden!) an. Mit `ET.parse()` wird die Datei geparsed (eingelesen) und mit `getroot()` sprechen wir den Wurzelknoten des XMLs an.

In [6]:
path_to_file = "data/input.xml"

tree = ET.parse(path_to_file)
root = tree.getroot()

Mit der `print()`-Funktion k√∂nnen wir eine Ausgabe erzeugen und uns hier beispielsweise das Element an der Wurzel anzeigen lassen. Wir sehen, dass vor dem Elementnamen noch eine Information √ºber den Namespace enthalten ist: `{http://www.tei-c.org/ns/1.0}`. Das verwundert vielleicht zun√§chst, da es im XML-Dokument nicht an dieser Position zu lesen war. Damit ET üëΩ wei√ü, dass wir uns auf diesen Namensraum beziehen, ohne dass wir nun jedes Mal diese Information voranstellen m√ºssen, um einen Knoten ansprechen zu k√∂nnen, definieren wir eine Variable `namespaces` auf die wir sp√§ter noch zugreifen werden.

In [7]:
print(root)
print(root.tag)

namespaces={"":"http://www.tei-c.org/ns/1.0"}

<Element '{http://www.tei-c.org/ns/1.0}TEI' at 0x7921c7a99220>
{http://www.tei-c.org/ns/1.0}TEI

Nun sammeln wir alle Informationen, die wir gleich noch ben√∂tigen k√∂nnten, und legen daf√ºr drei Listen an: `xml_nodes` f√ºr die Knoten der Elemente, auf die wir uns sp√§ter beziehen und die wir ggf. auch aktualisieren wollen (alle, die in irgendeiner Weise Text enthalten), `xml_tags` f√ºr die Tag-Namen der gleichen Knoten und `xml_text` f√ºr den darin enthaltenen Text.

In [8]:
xml_nodes = []
xml_tags = []
xml_text = []

Jetzt starten wir unseren ersten Loop üí´ - gl√ºcklichweise bietet ET daf√ºr auch direkt die Funktion `iter()` an. Wir iterieren durch alle (Kind-)Elemente des XML-Baums und speichern den mit `strip()` am Anfang und Ende von Leerzeichen befreiten Text dieser Elemente als `descendant_text`. Dann checken wir nochmal mit einer `if`-Bedingung ob auch wirklich Text enthalten ist und wenn dem so ist, f√ºgen wir jeder der Listen je einen entsprechenden Eintrag hinzu. Am Ende checken wir nochmal ein paar Eintr√§ge und lassen uns die Gesamtl√§nge der ersten Liste (die anderen beiden m√ºssten genau gleich lang sein) ausgeben.

In [9]:
for descendant in tree.iter():
      descendant_text = str(descendant.text).strip() #should probably be moved to if conditional
      if descendant_text != "" and descendant_text != "None":
            xml_nodes.append(descendant)
            xml_tags.append(descendant.tag)
            xml_text.append(descendant.text)

print([(node, tag, text) for (node, tag, text) in zip(xml_nodes[:3], xml_tags[:3], xml_text[:3])])
print(len(xml_nodes))

[(<Element '{http://www.tei-c.org/ns/1.0}title' at 0x7921c7a99720>, '{http://www.tei-c.org/ns/1.0}title', 'H. P. Lovecraft: Astronomical Observations (NAME)'), (<Element '{http://www.tei-c.org/ns/1.0}publisher' at 0x7921c7a99860>, '{http://www.tei-c.org/ns/1.0}publisher', 'tranScriptorium'), (<Element '{http://www.tei-c.org/ns/1.0}publisher' at 0x7921c7a999f0>, '{http://www.tei-c.org/ns/1.0}publisher', 'TRP document creator: fabian.etling@cedis.fu-berlin.de')]
412

### 4. Daten mit pandas aufbereiten

Der Vorteil unserer Listen ist, dass wir sie jetzt mithilfe der `pandas` Bibliothek in einen Dataframe, also eine tabellarische Struktur, √ºberf√ºhren k√∂nnen. Das machen wir mit `pd.DataFrame`, hier k√∂nnen wir z.B. auch Namen f√ºr die Spalten (`columns`) mit angeben. Mit der `head()`-Funktion erhalten wir eine √úbersicht √ºber die ersten Eintr√§ge unseres Dataframes.

In [10]:
#import lists as cols to a pandas dataframe
xml_text_dataframe = pd.DataFrame(list(zip(xml_nodes, xml_tags, xml_text)), columns =["nodes", "tags", "text"])
xml_text_dataframe.head()

,nodes,tags,text
0,[],{http://www.tei-c.org/ns/1.0}title,H. P. Lovecraft: Astronomical Observations (NAME)
1,[],{http://www.tei-c.org/ns/1.0}publisher,tranScriptorium
2,[],{http://www.tei-c.org/ns/1.0}publisher,TRP document creator: fabian.etling@cedis.fu-b...
3,[],{http://www.tei-c.org/ns/1.0}desc,HPL uses a plus-like and sign to represent the...
4,[],{http://www.tei-c.org/ns/1.0}mapping,&

Seltsam - sind unsere `nodes` hier etwa verschwunden und nur noch leere Listen `[]` enthalten? Werfen wir nochmal einen genaueren Blick darauf und lassen uns den ersten Eintrag aus der Tabelle ausgeben:

In [11]:
print(xml_text_dataframe["nodes"][0])

<Element '{http://www.tei-c.org/ns/1.0}title' at 0x7921c7a99720>

Puh, alles noch da! üòÖ When in doubt, use print: https://www.reddit.com/r/ProgrammerHumor/comments/ntro76/all_the_print_statements/

## Teil 2: Named Entity Recognition (NER) f√ºr XML

### 5. NER auf einem Text anwenden
Um Named Entity Recognition (NER), also ein Verfahren zur Erkennung benannter Entit√§ten wie z.B. Personen-, Orts- oder Organisationsnamen, auf den textuellen Daten anzuwenden, m√ºssen wir zun√§chst ein entsprechendes Modell laden. Wir haben bereits weiter oben das vortrainerte `de_core_news_sm` Modell von [SpaCy](https://spacy.io) installiert, jetzt laden wir dieses mit `spacy.load()`. Als Textbeispiel (`xml_text_example`) nehmen wir den Titel aus der ersten Zeile des DataFrames und wenden das Modell darauf an. Nun k√∂nnen wir uns beispielsweise f√ºr alle im Titel erkannten Entit√§ten deren Inhalt (`text`), Position (`start_char` = erstes Zeichen im Eingabetext, `end_char` = letztes Zeichen im Eingabetext) sowie das vergebene `label_` (z.B. `PER` f√ºr Person, `ORG` f√ºr Organisation) ausgeben lassen.

In [12]:
nlp = spacy.load("de_core_news_sm")
xml_text_example = xml_text_dataframe["text"][0]
print(xml_text_example)
doc = nlp(xml_text_example)

for ent in doc.ents:
    print(ent.text, ent.start_char, ent.end_char, ent.label_)

H. P. Lovecraft: Astronomical Observations (NAME)
H. P. Lovecraft 0 15 PER
NAME 44 48 ORG

Es wurden zwei Entit√§ten im entsprechenden Text gefunden! Bei NAME handelt es sich wohl um einen Fehler, aber `H. P. Lovecraft` als Person auszuzeichnen erscheint sinnvoll. Um den zugeh√∂rigen Knoten im eingelesenen XML zu aktualisieren, definieren wir zwei weitere Variablen: `xml_title_node` und `per_to_be_added`. `xml_title_node` ist der Titelknoten aus der 1. Zeile des DataFrames und `per_to_be_added` die korrekt erkannte Person, die wir nun neu einbinden wollen.

In [13]:
xml_title_node = xml_text_dataframe["nodes"][0]
per_to_be_added = doc.ents[0]

Jetzt aktualisieren wir den Knoten und f√ºgen ein NER-Tag hinzu. Dazu lesen wir zun√§chst den urspr√ºnglichen Text bis zur Startposition der erkannten Entit√§t aus. Dann nutzen wir `SubElement`, um ein Unterelement, in dem Fall `persName` hinzuzuf√ºgen. Anschlie√üend erh√§lt `persName` den Text der Entit√§t und wir f√ºgen nachfolgend den restlichen Text als `tail` hinzu.

In [14]:
xml_title_node.text = xml_text_example[0:per_to_be_added.start_char] #set text within node equal to all chars until PER entity starts
entity_tag = ET.SubElement(xml_title_node, 'persName') #add a nested tag for new entity
entity_tag.text = per_to_be_added.text #set entity tag text equal to ent.text for tag
entity_tag.tail = xml_text_example[per_to_be_added.end_char:len(xml_text_example)] #now, add the rest of the text

Zum Schluss checken wir nochmal, ob persName innerhalb des `title`-Knotens entsprechend hinzugef√ºgt wurde, indem wir ihn mit `root.findall()` auslesen und durch dessen Kindelemente iterieren:

In [15]:
#check if node changed
for i in root.findall(".//title", namespaces)[0]:
    print(i)

<Element 'persName' at 0x7921fe5e2720>

### 6. NER auf viele Texte gleichzeitig anzuwenden

Wir k√∂nnen auch eigene Funktionen definieren, um unseren Code u.a. leichter wiederverwenden zu k√∂nnen und besser zu strukturieren. Hier ein einfaches Beispiel, wie so eine Funktion aussehen k√∂nnte. F√ºr den Funktionsparameter `xml_table` k√∂nnen wir nun beispielsweise unseren `xml_text_dataframe` einsetzen und uns die ersten 5 Texteintr√§ge aus der Tabelle ausgeben lassen:

In [16]:
def print_text(xml_table):
    for text in xml_table["text"]:
        print(text)

print_text(xml_text_dataframe[:5])

H. P. Lovecraft: Astronomical Observations (NAME)
tranScriptorium
TRP document creator: fabian.etling@cedis.fu-berlin.de
HPL uses a plus-like and sign to represent the conjunction "and".
&

In √§hnlicher Weise k√∂nnen wir nun auch unseren bisherigen NER Code in einer Funktion unterbringen. Mit `enumerate()` werden die einzelnen `text` innerhalb des for-Loops durchgez√§hlt und wir k√∂nnen die zugeh√∂rige Position (`index`) ansprechen - diese Position ben√∂tigten wir, um die entsprechenden NER-Tags an der jeweils richtigen Stelle im XML-Dokument einf√ºgen zu k√∂nnen.

In [17]:
def ner_text(xml_table):
    for index, text in enumerate(xml_table["text"]):
        doc = nlp(text)
        for ent in doc.ents:
            #print(ent.text, ent.start_char, ent.end_char, ent.label_)
            current_xml_node = xml_table["nodes"][index]
            current_xml_node.text = text[0:ent.start_char] 
            entity_tag = ET.SubElement(current_xml_node, str(ent.label_) + '_name') 
            entity_tag.text = ent.text 
            entity_tag.tail = text[ent.end_char:len(text)]
        

ner_text(xml_text_dataframe)

### 7. Vergleich: NER auf plaintext anwenden

In [18]:
import re

with open("data/input.txt", encoding="utf-8") as file:
    textfile = file.read()

textfile = textfile.strip()
textfile = re.sub(r'\s+', ' ', textfile)

print(textfile)

Astronomical Observations Made By H.P. Lovecraft, 598, Angell St., Providence, R.I. U.S.A. Years: 1909 1910 1911 1912 1913 1914 1915 Comet, Halleys, Observed May 26, 1910 p. 1 Comet, Delavan‚Äôs, Observed September 16, 1914 p. 7 Eclipse of ‚òΩÔ∏é - June 3, 1909 p. a. Eclipse of ‚òΩÔ∏é - March 11-12, 1914 p. 6 Halley's Comet - May 26, 1910 p. 1 Halo around ‚òΩÔ∏é, February 1, 1912 p 3. Mars, Occultation of, Observed September 1, 1909 p. 1 Moon, Eclipse of - June 3, 1909 p. a. Moon, Halo around, February 1, 1912 p. 3 Mercury near Moon - February 26, 1914 pp. 5-6 Occultation of Mars - September 1, 1909 p. 1 Paraselenae - Lunar Halo - February 1, 1912 p. 3 Special Observation June 3 - 1909 Moon‚Äôs Eclipse Clouds interfered, but several glimpses were obtained - Total 7.58 - ASTRONOMICAL OBSERVATIONS 1909 Begun September 1, 1909 September 1 - Observed Occultation of Mars by Moon‚Äôs bright limb at 8h 58m occultation took 40s. Ending at 9:57 was not observed. Shy hazy. Moon fair. Observed Mare Humorum Cleomedes Langrenus Septr. 2 - Observed Mars at 9h. Markings faint & ill defined. Also observed Moon Mare Humorum appears similar to a section ‚Äúbitten‚Äù out of the moon‚Äôs terminator. 1910 Thursday, May 26 Observed Halley‚Äôs Comet 8.45-9.30 p.m. Visible in west. Head about 1.5mag. (slightly less brilliant than Regulus). Tail broad May 26, 1910, Continued & well defined. Quite bright for about 15¬∞, distinctly traceable about 30¬∞ (to a point above crater). Head about 9h 30m R.A. 3¬∞ decl. on border of Hydra & Sextans. Nucleus & Coma well defined. Used B&S prism binoculars, power 8. Regulus Hydra Position at 9 p.m. Observed. from Providence-Taunton Pike at a point just northeast from Nichol‚Äôs Crossing. Looking westward Head of Comet Œπ Œ∏ Œ∂ œÅ Position of Head in Hydra 1911 No observations 1912 February 1st. Observed a lunar halo at about 6:30 p.m. Moon 1day of full Halo was of about 45¬∞ diameter, with rather noticeable paraselenae on an horizontal line with the moon. No prismatic colours were apparent. The left hand (northern) paraselena was more or less obscured by clouds and appeared only at intervals. The right-hand mock-moon was prominent, and attracted much attention. The two paraselenae were seen as February 1, 1912, Continued diffused patches of light. This part of halo most prominent. North Paraselena (faint & visible only at intervals) Moon South Paraselena (Prominent - attracted much attention) Clouds EASTERN HORIZON The northern arc of the halo was by far the brightest part. October 19, 11:00p.m. Observed Moon, 2days gibbous. Copernicus on terminator. Tycho, Clavius & Maginus were favourably situate in the southern part of the disc. 1913 No observations 1914 In January, Mars & Saturn were observed. February 26, 6:h 15m p.m. Observed Moon, 2days old, and Mercury. Moon's crescent very thin. Earthshine visible even in strong twilight. Mercury appeared about 5¬∞ below and to the right of Moon, twinkling like a bright star in the increasing dusk. ‚òΩÔ∏é R.A. 23h 56m Dec +1¬∞ ‚òø R.A. 23h 35m Dec -0¬∞ 3' The above position very rough. February 26, 1914, Continued The Moon was almost at the Vernal Equinox. Mercury View looking northwest Earlier in the day the Moon and Mercury had been in conjunction. March 11-12 Observed partial eclipse of Moon. Over 0.9 of disc eclipsed. Very well seen. September 16 - 4 a.m. to dawn - Observed Delavan‚Äôs Comet &heavens in general. Delavan‚Äôs Comet lay in R.A. 10h 08m 06s., Dec. 49¬∞ 51' 14" in Ursa Major, as shown by diagram. Plough Comet Northeast Horizon It had about the brightness of a star of the 4th. magnitude, appearing to the naked eye, as a blurred spot of light; rather faint, yet easily visible. In the opera glasses this blur resolved itself into a star-like nucleus, a bright coma, & a short, broad tail. In the prism binoculars these details were better seen, whilst in the 3" telescope with powers of 50 & 100 the comet was indeed a beautiful sight. A small telescope star could at that time be seen shining through the faint luminosity of the tail. The best view was with 3" telescope terrestrial Eyepiece 50 diameters. Tail about 1¬∞ in length. Observations made from grounds of residence, & somewhat hampered by electric street lights. At this same time Moon was a beautiful crescent 3days before new. Earthshine very powerful: Could see Maria Crisium, Serenitatis Tranquillitatis Fecunditatis Nectaris very plainly on dark part of disc. Schickard on terminator - fine sight. Grimaldi visible - very dark. Saturn also fine object. Winter stars fully in view - Orion, Canis Major, +c. Orion's nebula very beautiful in 3" with power 50 September 17 - Observed Delavan‚Äôs Comet 4-5 a.m. Also Moon. Earthshine on Moon very strong, especially when rising above house top & bright thin crescent hidden. Comet appears brighter as Moon wanes. Principal Astronomical Work (1) To keep track of all celestial phenomena month by month, as positions of planets, phases of moon, Sign of Sun, Occultations, Meteor Showers, unusual phenomena (record) also new discoveries. (2) To keep up a working knowledge of the constellations and their Seasons. (3) To observe all planets, etc. with a large telescope when they are favourably situated (at 7h 30m in winter, about 9h or less in Summer, supplemented by morning observations) (4) To observe opera or field glass objects among the stars with a low power instrument, recording results, (5) To keep a careful record of each night‚Äôs work. (6) To contribute a monthly astronomical article of about 7 p. M.S. or 4 p. type, to the Providence Evening News. (Began Jan 1, 1914.) Position of Residence 598 Angell Street, Providence, Rhode Island Latitude 41¬∞ 50' 00" North Longitude 71¬∞ 23' 09" West local Time 4h 45m 32.3sx (Washington), local 0h 22m 43.5s# Difference between Mn. & Standard 0h 14m 27.7s (- mn to standard) Fundamental Data 1¬∞ Latitude = 69.23m at 41¬∞ 50' 1¬∞ Longitude = 52.00m at 41¬∞ 50' 1s Time = 1146.5ft at 41¬∞ 50' 1¬∞ Longitude = (1¬∞ Latitude) (cos. Latitude) Remarks To red. W.M.T. to Eastern Standard Time add 6m 16s. G.M.T. to Eastern Standard Time Subtract 5h. # To be added to W.M.T. for Local Time x To be subtracted from G.M.T. for Local Time. Instruments Dimensions of Telescope Clear Aperture ---- 3 inches Eyepieces, 2. 50 (terrestrial) and 125 (astronomical) Focus (with astronomical) --- 44in Focus (with terrestrial) --- 52in Manufactured By Bardou Altazimuth Stand by R.L. Allen Purchased 1906 (Sep. 13) Accessories Lunar Map By Wright Year Book - Farmer‚Äôs Almanack Planispheres - Whittaker & Barrett-Serviss Atlas by Upton & Library Opera glasses - Prism Binoculars American Ephemeris and Nautical Almanack

In [19]:
doc_textfile = nlp(textfile)

for ent in doc_textfile.ents:
    print(ent.text, ent.start_char, ent.end_char, ent.label_)

Astronomical Observations Made By H.P. Lovecraft 0 48 PER
Angell St. 55 65 PER
Providence 67 77 ORG
R.I. U.S.A. 79 90 ORG
Comet 133 138 LOC
Halleys 140 147 LOC
Observed May 149 161 PER
Comet 176 181 MISC
Delavan‚Äôs 183 192 ORG
Observed 194 202 LOC
Eclipse 227 234 MISC
Eclipse of ‚òΩ 262 274 MISC
Comet 310 315 MISC
May 318 321 LOC
‚òΩ 348 349 MISC
Mars 374 378 LOC
Occultation 380 391 LOC
Observed 396 404 LOC
Eclipse 434 441 MISC
Lunar Halo - February 612 633 MISC
Occultation of Mars by Moon‚Äôs bright limb at 843 887 MISC
Ending at 917 926 MISC
Moon fair 960 969 MISC
Mars at 9h 1033 1043 MISC
Markings faint & ill 1045 1065 ORG
Thursday 1180 1188 LOC
May 1190 1193 LOC
Halley‚Äôs Comet 1206 1220 MISC
slightly less 1273 1286 ORG
Continued & 1337 1348 ORG
bright for about 15 1369 1388 MISC
traceable about 1402 1417 MISC
Nucleus & Coma 1511 1525 MISC
Used 1540 1544 ORG
Observed 1609 1617 LOC
Looking 1698 1705 LOC
Œ∏ Œ∂ 1731 1734 MISC
Hydra 1911 1757 1767 MISC
Observed a lunar halo at about 1803 1833 ORG
horizontal line with the moon 1935 1964 LOC
No prismatic colours 1966 1986 ORG
The left hand 2002 2015 MISC
more or less obscured by clouds and 2042 2077 MISC
The right-hand mock-moon 2106 2130 MISC
The two paraselenae 2176 2195 MISC
Continued 2227 2236 PER
North Paraselena 2298 2314 PER
Moon South Paraselena 2351 2372 MISC
Clouds 2412 2418 PER
EASTERN 2419 2426 ORG
Observed Moon 2517 2530 PER
2days 2532 2537 MISC
Copernicus on terminator 2547 2571 MISC
Tycho 2573 2578 PER
Clavius & Maginus 2580 2597 ORG
the southern part of the disc 2625 2654 MISC
January 2685 2692 LOC
Mars 2694 2698 LOC
Saturn 2701 2707 PER
February 2723 2731 PER
Observed Moon 2749 2762 LOC
Mercury 2779 2786 PER
Moon's 2788 2794 PER
Earthshine 2815 2825 ORG
strong twilight 2842 2857 LOC
Mercury appeared about 2859 2881 MISC
the increasing dusk 2949 2968 MISC
‚òΩ 2970 2971 ORG
‚òø R.A. 2994 3000 MISC
February 3051 3059 PER
Continued The Moon 3070 3088 MISC
Mercury 3123 3130 ORG
the day the Moon and Mercury 3165 3193 MISC
March 3219 3224 ORG
Over 0.9 of disc eclipsed 3265 3290 MISC
Very 3292 3296 ORG
Delavan‚Äôs Comet &heavens 3349 3373 ORG
Delavan‚Äôs Comet 3386 3401 PER
R.A. 3409 3413 LOC
Dec 3428 3431 LOC
Ursa Major 3448 3458 MISC
as shown by diagram 3460 3479 ORG
Plough Comet 3481 3493 ORG
the brightness of a star of the 4th 3525 3560 MISC
magnitude 3562 3571 PER
rather faint 3629 3641 PER
yet easily visible 3643 3661 MISC
the opera glasses 3666 3683 MISC
a bright coma 3736 3749 ORG
& a short 3751 3760 ORG
broad tail 3762 3772 ORG
the prism binoculars 3777 3797 MISC
indeed a beautiful sight 3895 3919 ORG
A small telescope star 3921 3943 MISC
at that time 3950 3962 MISC
The best 4021 4029 MISC
Eyepiece 4069 4077 PER
length 4109 4115 LOC
Observations 4117 4129 ORG
At 4209 4211 PER
Earthshine 4275 4285 ORG
Could 4301 4306 MISC
Maria Crisium 4311 4324 PER
Serenitatis Tranquillitatis 4326 4353 PER
Fecunditatis Nectaris 4354 4375 PER
Schickard on terminator - fine sight 4411 4447 MISC
Grimaldi 4449 4457 PER
Saturn 4479 4485 PER
Orion 4533 4538 LOC
Canis Major 4540 4551 PER
Orion's 4557 4564 PER
with power 4593 4603 MISC
Also Moon 4656 4665 MISC
Earthshine on Moon 4667 4685 MISC
especially when rising above house top & bright 4699 4746 MISC
Comet 4769 4774 MISC
Principal Astronomical Work 4807 4834 MISC
To keep track of all celestial phenomena month by month 4839 4894 MISC
as positions of planets 4896 4919 ORG
phases of moon 4921 4935 MISC
Sign of Sun 4937 4948 MISC
Occultations 4950 4962 ORG
Meteor Showers 4964 4978 PER
new discoveries 5012 5027 LOC
To keep up a working knowledge of the constellations and their Seasons 5033 5103 ORG
To observe all planets 5109 5131 MISC
at 5196 5198 ORG
about 5217 5222 LOC
or less 5226 5233 ORG
(4) 5283 5286 LOC
or field 5304 5312 LOC
recording results 5372 5389 PER
(5) 5391 5394 LOC
To keep a careful 5395 5412 MISC
(6) 5442 5445 LOC
To contribute a 5446 5461 MISC
Began Jan 1 5557 5568 PER
Angell Street 5603 5616 LOC
Providence 5618 5628 LOC
Rhode Island 5630 5642 LOC
North Longitude 5664 5679 LOC
Washington 5723 5733 LOC
Fundamental Data 5822 5838 ORG
Remarks To red 5979 5993 MISC
W.M.T. to 5995 6004 MISC
G.M.T. to 6039 6048 MISC
To be added to W.M.T. for Local Time x To be subtracted from G.M.T. for Local Time 6086 6168 MISC
Dimensions of Telescope Clear Aperture 6182 6220 ORG
inches 6228 6234 MISC
Focus 6289 6294 LOC
Focus 6324 6329 LOC
Manufactured By Bardou Altazimuth 6358 6391 PER
R.L. Allen Purchased 6401 6421 PER
Sep. 13 6428 6435 LOC
Accessories Lunar 6437 6454 PER

### 8. Ergebnisse exportieren
Am Ende kann der aktualisierte XML-Baum mit `tree.write()` wieder in eine XML-Datei geschrieben werden. Damit der Namensraum-Pr√§fix nicht in den Elementen auftaucht, k√∂nnen wir ihn mit `register_namespace` vorher entsprechend angeben.

In [20]:
#write result to output file
ET.register_namespace("", "http://www.tei-c.org/ns/1.0")
tree.write('data/output.xml', xml_declaration=True, encoding='utf-8', method='xml')
#TODO: add PI/statement from L2: <?xml-model href="hpl_ao.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>

**Challenges/Next steps:**
- [ ] adapt other NER tools, including tokenization etc.
- [ ] check schemas, include statement from line 2 etc. (`lxml`?)
- [x] deal with multiple, nested annotations -> one function
- [ ] whitespaces
- [x] larger text sections, at least sentences
- [ ] decide how to deal with pre-existing annotations (removing, updating, adding new annotations?)